:root{
    
  --primary-colorRed: #2859C5;
  --primary-colorMak: #D9272E;

  --secundary-colorMak: #B50027;
  --secundary-colorRed:#023E8A;

  --Tree-colorRed:#8FBFFA;
  --gris-primary:#adb5bd;
  --gris-secundary:#e9ecef;

}